body {
  height: 100vh;
  background: url(images/image1.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-container {
  width: 600px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px;
  margin-bottom: 20px;
  display: flex;
}

input {
  flex: 6;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
}

#add-task {
  flex: 1;
  transition: .3s;
  font-size: 1.2rem;
  padding: 5px;
  background-color: #fff;
  color: green;
  border-radius: 5px;
}

#add-task:hover {
  background-color: green;
  color: #fff;
}
/* Styling for task which get added*/
.task {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.task li {
  list-style: none;
  padding: 5px;
  flex: 6;
  font-size: 1.2rem;
  margin: 10px;
}
.task button {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.task .checkTask {
  color: orange;
  margin-right: 5px;
  border: 1px solid orange;
  font-size: 1.2rem;
}
.task .deleteTask {
  color: red;
  border: 1px solid red;
  font-size: 1.2rem;
}
.task .checkTask:hover {
  background-color: orange;
  color: #fff;
}
.task .deleteTask:hover {
  background-color: red;
  color: #fff;
}